{% extends "base.html" %}
{% block title %}All cards{% endblock %}
{% block content %}
 <section class="desks">
     {% for deck in decks %}
            <div class="desk">
                <div class="desk-inner">
                    <div class="desk-front">
                        <h2>{{ deck.name }}</h2>
                        <p>{{ deck.description }}</p>
                        <p>Rating: {{ deck.rating }}</p>
                        <a href="{% url 'quizlet:deck_detail' deck.id %}">View cards</a>
                    </div>
                    <div class="desk-back">
                        <p>Creation date: {{ deck.created_at }}</p>
                        <p>Author: {{ deck.author.username }}</p>
                    </div>
                </div>
            </div>
     {% endfor %}
 </section>

<script>document.addEventListener("DOMContentLoaded", () => {
    const desks = document.querySelectorAll(".desk");

    desks.forEach(desk => {
        desk.addEventListener("click", () => {
            desk.classList.toggle("flipped"); // Додає/знімає клас .flipped
        });
    });
});
</script>
{% endblock %}